@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<input id="hdnToken" type="hidden" value="@Model.Token" />
<input id="hdnUserName" type="hidden" value="@Model.UserName" />
<input id="hdnBaseApiAddress" type="hidden" value="@Model.BaseApiAddress"/>
<input id="hdnSystemID" type="hidden" value="@Model.SystemID"/>
<input id="hdnRoleID" type="hidden" value="@Model.RoleID" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="root"></div>

<script>
    window.onload = function()
    {
        let token = document.getElementById("hdnToken").value;

        let userName = document.getElementById("hdnUserName").value;

        let baseApiAddress = document.getElementById("hdnBaseApiAddress").value;

        let systemID = document.getElementById("hdnSystemID").value;

        let roleID = document.getElementById("hdnRoleID").value;

        sessionStorage.setItem("token", token);
        sessionStorage.setItem("userName", userName);
        sessionStorage.setItem("baseApiAddress", baseApiAddress);
        sessionStorage.setItem("systemID", systemID);
        sessionStorage.setItem("roleID", roleID);
    };
</script>
